#TRCommandRow {
  color: Blue;
  font-size: 20 px;
}

Button {
  background: Red;
  color: white;
  transition: 0.3s;
}

Button:hover {
  background:darkblue;
}

.box {
  width: 100px;
  height: 100px;
  background: red;
  transition: transform 0.5s;
}

.box:hover {
  transform: scale(1.2);
}
