
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  text-align: center;
}

header {
  background-color: #4CAF50;
  padding: 20px;
  color: white;
}

footer {
  margin-top: 30px;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
}
